.a-articles
  width: 100%
  height: auto
  .container
    position: relative
    width: 100%
    height: auto
    .buttons
      position: fixed
      top: 0
      left: 0
      width: 100%
      height: auto
      .button
        position: absolute
        top: 10px
        width: 70px
        height: 70px
        text-align: center
        color: #fff
        cursor: pointer
        background-color: rgba(0,0,0,.5)
        transition: all 0.3s ease-in-out
        &:hover
          color: rgb(45,183,245) !important
          background-color: rgba(0,0,0,1) !important
        .button-up
          width: 100%
          height: 40px
          padding-top: 7px
          line-height: 40px
          font-size: 24px
        .button-down
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 70px
          padding-top: 40px
          line-height: 20px
          font-size: 12px
      .list 
        left: 0
        border-radius: 20px
      .new
        right: 0
        border-radius: 20px
      .brain-storm
        width: 100px
        line-height: 70px
        left: 75px
        border-radius: 20px
      .technologies
        width: 100px
        line-height: 70px
        left: 180px
        border-radius: 20px
      .daily
        width: 100px
        line-height: 70px
        left: 285px
        border-radius: 20px
      .fictions
        width: 100px
        line-height: 70px
        left: 390px
        border-radius: 20px
    .content
      position: absolute
      top: 90px
      left: 0
      width: 100%
      height: auto
      padding-bottom: 120px
      // padding-left: 80px
      .header, .body
        position: relative
        width: 100%
        height: 50px
        color: #ccc
        background-color: rgba(0,0,0,.9)
        .item
          position: absolute
          top: 0
          height: 50px
          line-height: 50px
          text-align: center
          border-right: 1px solid #fff
        .select-all
          left: 0
          width: 4%
          padding-left: 2%
          padding-top: 25px
          cursor: pointer
          &:hover
            background-color: rgba(0,0,0,.9)
          .checkbox
            margin-top: -8px
            margin-left: -8px
        .number
          left: 4%
          width: 4%
        .title
          left: 8%
          width: 50%
          cursor: pointer
          &:hover
            background-color: rgba(0,0,0,.9)
        .views
          left: 58%
          width: 8%
        .comments
          left: 66%
          width: 8%
        .date
          left: 74%
          width: 14%
        .edit
          left: 88%
          width: 6%
          cursor: pointer
          &:hover
            background-color: rgba(0,0,0,.9)
          .glyphicon
            margin-right: 0 
        .delete
          left: 94%
          width: 6%
          cursor: pointer
          &:hover
            background-color: rgba(0,0,0,.9)
          .glyphicon
            margin-right: 0 
      .body
        height: 35px
        margin-top: 1px
        color: #eee
        background-color: rgba(0,0,0,.5)
        transition: all 0.3s ease-in-out
        &:hover
          background-color: rgba(0,0,0,.7)
        .item
          height: 35px 
          line-height: 35px
          font-size: 10px 
        .checkbox
          margin-top: -15px !important
          margin-left: -10px !important
        .glyphicon
          margin-right: 10px 
    .add
      position: absolute
      top: 90px
      left: 0
      width: 100%
      padding-bottom: 80px
      background-color: rgba(0,0,0,.5) 
      .article-form
        width: 100%
        padding: 30px    








