<!DOCTYPE html>
<html>
<head>
	<title>Joephon's Blog</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1">
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
	<script>
		// function isMobileDevice(ua) {
		// 	var judge = /(iphone|ios|android|mini|mobile|mobi|Nokia|Symbian|iPod|iPad|Windows\s+Phone|MQQBrowser|wp7|wp8|UCBrowser7|UCWEB|360\s+Aphone\s+Browser)/i.test(ua);
		// 	if (judge) {
		// 		return true;
		// 	}
		// 	return false;
		// }
		// if (isMobileDevice(navigator.userAgent)) {
		// 	window.location.href = '/m';
		// }
		if (window.innerWidth <= 500) {
			window.location.href = '/m'
		}
	</script>
	<div id='app' class='app'></div>

 <script type="text/javascript" src="/p.app.js"></script>
</body>
</html>